<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theme.css">
    <title>Audio</title>
</head>

<body>
    <div class="main-navbar-container">
        <span class="nav-brand">Vishal</span>
        <ul class="main-navbar">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/audio">Audio</a></li>
            <li class="nav-item"><a href="/video">Video</a></li>
            <li class="nav-item"><a href="/list">List</a></li>
            <li class="nav-item"><a href="/table">Table</a></li>
            <li class="nav-item"><a href="/storefront">Store</a></li>
        </ul>
    </div>
    <section class="page">
        <h2>Audio</h2>
        <audio controls>
            <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3" type="audio/mpeg">
            <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg" type="audio/ogg">
            Your browser does not support the audio element.
        </audio>
        <p>Demonstration of using audio in html file.</p>
</body>

</html>