<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <title>Home</title>
</head>

<body>
    <div class="main-navbar-container">
        <span class="nav-brand">Vishal</span>
        <ul class="main-navbar">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/audio">Audio</a></li>
            <li class="nav-item"><a href="/video">Video</a></li>
            <li class="nav-item"><a href="/list">List</a></li>
            <li class="nav-item"><a href="/table">Table</a></li>
            <li class="nav-item"><a href="/storefront">Store</a></li>
        </ul>
    </div>
    <section class="page">
        <h1> Welcome to my website </h1>
        <p> I will be demonstrating HTML5 principles and techniques, Routing in Express
        </p>
        <h2> My Learning Experience </h2>
        <p>
            So far I learned a lot about HTML, CSS and Node js. Still I am on the way of learning new things.
        </p>
        <h2> HTML5 </h2>
        <p> This site utilizes HTML5: a markup language used for structuring and presenting content
            on the World Wide
            Web
        </p>
    </section>
</body>

</html>