<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theme.css">
    <title>List</title>
</head>

<body>
    <div class="main-navbar-container">
        <span class="nav-brand">Vishal</span>
        <ul class="main-navbar">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/audio">Audio</a></li>
            <li class="nav-item"><a href="/video">Video</a></li>
            <li class="nav-item"><a href="/list">List</a></li>
            <li class="nav-item"><a href="/table">Table</a></li>
            <li class="nav-item"><a href="/storefront">Store</a></li>
        </ul>
    </div>
    <section class="page">
        <h1> Welcome to my website </h1>
        <p> I will be demonstrating HTML5 lists here
        </p>
        <h2>About Me</h2>
        <p>
            Name: Vishal, Student ID: 123094211, Program: CPP
        <h2>List of Healthy Food</h2>
        <ul class="list">
            <li>Apple</li>
            
            <li>Chicken Breast
                <ol class="sublist">
                    <h5>Nutrition per piece</h5>
                    <li>Calories: 286</li>
                    <li>Protein: 53.4</li>
                    <li>Carbs: 0</li>
                    <li>Fat: 6.2g</li>
                </ol>
            </li>
            <li>Broccoli</li>
            <li>Spinach</li>
        </ul>
    </section>
</body>

</html>