<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<title>Storefront</title>
</head>

<body>
    <div class="main-navbar-container">
        <span class="nav-brand">Vishal</span>
        <ul class="main-navbar" style="margin-top: auto; margin-bottom: auto;">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/audio">Audio</a></li>
            <li class="nav-item"><a href="/video">Video</a></li>
            <li class="nav-item"><a href="/list">List</a></li>
            <li class="nav-item"><a href="/table">Table</a></li>
            <li class="nav-item"><a href="/storefront">Store</a></li>
        </ul>
    </div>
    <section class="page">
        <h1 style="margin:0.83em 0">Store Front</h1>
        <div class="container">
            <div class="row">
                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://p4-ofp.static.pub/ShareResource/na/subseries/gallery/lenovo-yoga-7i-gen7-16inch-01.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Yoga 7i (16" Intel) - Storm Grey</h5>
                        <p class="card-text">12th Generation Intel® Core™ i7-1260P Processor (E-cores up to 3.40 GHz
                            P-cores up to 4.70 GHz), 16 GB, 512 GB M.2 SSD</p>
                        <p class="card-text">16" WQXGA (2560x1600), IPS, Glare, Touch, 100%sRGB, Low blue light, 400
                            nits, 60Hz</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $1,149.99</p>
                        <a href="#" class="add-btn btn btn-primary">Buy</a>
                    </div>
                </div>
                
                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4LiWr?ver=4aed&q=90&m=6&h=270&w=270&b=%23FFFFFFFF&f=jpg&o=f&aim=true"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Surface Laptop 4</h5>
                        <p class="card-text">13.5", Matte Black (Metal), Intel Core i5, 16GB RAM, 512GB SSD</p>
                        <p class="card-text">13.5” AMD Ryzen™ 5 Microsoft Surface® Edition processor – up to 19 hours,
                            15” AMD Ryzen™ 7 Microsoft Surface® Edition
                            processor – up to 17.5 hours, 13.5” Intel® Core™ i5 – up to 17 hours</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $1,399.99</p>
                        <a href="#" class="add-btn btn btn-primary">Buy</a>
                    </div>
                </div>

                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://www.apple.com/newsroom/images/product/mac/standard/Apple-WWDC22-MacBook-Air-hero-220606_big.jpg.large_2x.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">2022 Apple MacBook Air Laptop with M2 chip</h5>
                        <p class="card-text">SUPERCHARGED BY M2 — Get more done faster with a next-generation 8-core
                            CPU, up to 10-core GPU and up to 24GB of unified memory.</p>
                        <p class="card-text">The 13.6-inch Liquid Retina display features over 500 nits of brightness,
                            P3 wide color and support for 1 billion colors
                            for vibrant images and incredible detail.</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $1,449.99</p>
                        <a href="#" class="add-btn add-btn btn btn-primary">Buy</a>
                    </div>
                </div>

                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://p1-ofp.static.pub/medias/24238449458_82REcloudgreyX_202208191028221661841014828.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Legion 5 Gen 7 AMD (15”) with RTX 3050 Ti</h5>
                        <p class="card-text">AMD Ryzen™ 7 6800H Processor (3.20 GHz up to 4.70 GHz), NVIDIA® GeForce®
                            RTX™ 3050 Ti Laptop GPU 4GB GDDR6, 16 GB Memory</p>
                        <p class="card-text">15.6" FHD (1920 x 1080), IPS, Anti-Glare, Non-Touch, 100%sRGB, 300 nits,
                            165Hz, LED Backlight, Narrow Bezel</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $1,529.99</p>
                        <a href="#" class="add-btn btn btn-primary">Buy</a>
                    </div>
                </div>

                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/159/15992/15992594.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ASUS ROG Strix Scar 17.3" Gaming Laptop</h5>
                        <p class="card-text">2.5GHz Intel Core i9-12900H CPU with 16GB DDR5 RAM and 1TB M.2 PCIe 4.0
                            NVMe solid state drive</p>
                        <p class="card-text">17.3" FHD display with 1920 x 1080 resolution, 360Hz refresh rate, and 100%
                            sRGB coverage</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $2,499.99</p>
                        <a href="#" class="add-btn btn btn-primary">Buy</a>
                    </div>
                </div>

                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/160/16020/16020144.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">HP 15.6" Touchscreen Laptop</h5>
                        <p class="card-text">3.5GHz Intel Core i7-1255U processor and 16GB of DDR4 RAM and 1TB SSD</p>
                        <p class="card-text">5.6" IPS, touchscreen display with 1920 x 1080 Full HD resolution,
                            BrightView, and micro-edge bezel design</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $1,049.99</p>
                        <a href="#" class="add-btn btn btn-primary">Buy</a>
                    </div>
                </div>

                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/157/15740/15740346.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Microsoft Surface Laptop Studio 14.4"</h5>
                        <p class="card-text">2.6GHz quad-core 11th Gen Intel Core i5-11300H processor, 16GB LPDDR4 RAM
                            and 256GB SSD</p>
                        <p class="card-text">14.4-inch PixelSense Flow touchscreen display with a refresh rate up to
                            120Hz</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $1,849.99</p>
                        <a href="#" class="add-btn btn btn-primary">Buy</a>
                    </div>
                </div>

                <div class="card col-sm-6 col-md-4 col-lg-3">
                    <img src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/159/15961/15961154.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ASUS TUF Gaming F15 15.6" Gaming Laptop</h5>
                        <p class="card-text">2.5GHz quad-core Intel Core i5-10300H processor (overclockable up to
                            4.5GHz), 8GB of DDR4 RAM and 512GB SSD</p>
                        <p class="card-text">15.6-inch anti-glare display with 1920 x 1080 native screen resolution</p>
                        <p class="card-text" style="margin-bottom: 3rem;">Price: $799.99</p>
                        <a href="#" class="add-btn btn btn-primary">Buy</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>

</html>